.main-form {
    margin: auto;
    width: 9em;
}

.login-form {
    margin: auto;
    width: 15em;
    padding-top: 10%;
}

.login-btn {
    margin-left: 4.5%;
}

.login-link {
    margin: auto;
    width: 1em;
    padding-top: 5%;
}

.err-login {
    margin: 0;
    text-align: center;
    padding-top: 15%;
}

.main-header {
    margin: auto;
    width: 18em;
    padding-top: 5%;
}

* {
    background: lightpink;
    margin: 1%;
    padding: 1%;
}

.main-div-table {
    margin: auto;
    text-align: center;
    max-width: 100%;
}

.main-table {
    border-collapse: collapse;
    min-width: 100%;
}

td, th {
    padding: 3px; /* Поля вокруг содержимого таблицы */
    border: 1px solid black; /* Параметры рамки */
}

th {
    background: #00e5ff; /* Цвет фона */
}
